<h1><%= @restaurant.name%></h1>
<p><%= @restaurant.category%></p>
<p><%= @restaurant.address%></p>
<p><%= @restaurant.phone_number%></p>

<h2>Reviews</h2>
<ul>
<% @restaurant.reviews.each do |review|%>
<li><%= review.rating%> - <%= review.content%></li>
<%end%>
</ul>

<%= render partial: 'reviews/form', locals: {restaurant: @restaurant, review:  @review} %>
<%= link_to 'Go back to restaurants', restaurants_path%>
